doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Update Custom Object

    p
      a(href="/") Return to the homepage
      
    div.form-wrapper
      form(method="POST", action="/update-cobj")
        div
          label(for="firstname") First Name:
          input(type="text", id="firstname", name="firstname", required)

        div
          label(for="lastname") Last Name:
          input(type="text", id="lastname", name="lastname", required)

        div
          label(for="email") Email:
          input(type="email", id="email", name="email", required)

        div
          label(for="nationality") Nationality:
          input(type="text", id="nationality", name="nationality", required)

        button(type="submit") Create Contact
